{{!< layout}}
<div class="poll-results-page">
    <div id="loading" class="fade-in">
        Loading poll...
        <img id="loadingSpinner" class="remoticon" title="(waiting)" alt="(waiting)"
             style="vertical-align: middle"
             src="https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/waiting-1417756997.gif">
    </div>

    <div id="pollcontent" class="fade-in" style="display: none">
        <div id='pollId'></div>

        <h1 id="polltitle" class="hidden"></h1>
        <a href="#" id="close-poll" class="aui-button" style="float:right;">
            <img name="emoticon" title="(stop)" alt="(stop)" height="15" width="15" src="https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/10804/stop-1424981049@2x.png">
            &nbsp;Stop voting!
        </a>
        <img id="completed-icon" style="display: none" src="https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/successful-1414026553@2x.png" alt="Completed">
        <p id="total" />
        <form id="votes" class="aui">
        </form>
    </div>
    <div id="poll-not-found" style="display: none">
        <img name="emoticon" title="(cerealspit)" alt="(cerealspit)" src="https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/cerealspit-1414026180@2x.png"/>
        Oops!
        <p>
        We can't find this poll, and we feel really bad about it. We looked behind the couch and everything!
        <p>
        (It's probably an old poll that was closed over a week ago. We periodically delete old, closed polls to keep the results returned from <strong><code>/poll</code></strong> fresh.)
        <p>
        Why not create a new poll? Type <strong><code>/poll create</code></strong> for help.
        <p>
        {{usage}}
    </div>
    <input type="hidden" id="signed_request" value="{{signed_request}}" />
</div>
