/* add-on styles */

.ac-content {
  height: 100%;
}

.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

#votes {
  display:table;
  width: 100%;
}

#votes .aui-progress-indicator, .aui-progress-indicator-value {
  height: 30px;
}
#votes .result {
  height: 60px;
  display: table-row;
}

#votes .left {
  white-space: nowrap;
  display:table-cell;
  vertical-align: middle;
}

#votes .votetext {
  padding:0 10px;
}

#votes .right {
display:table-cell;
width: 99%;
vertical-align: middle;
}

.poll-results-page {
  margin: 0 10px;
  position: relative;
  height: 100%;
}

#votes .result .aui-badge {
  background:#fff;
  position: absolute;
  z-index:9999;
  margin: 6px 0 0 10px;
}

/* close-poll and completed-icon need to be the same height to avoid resizing */

#close-poll #completed-icon {
  margin: 10px 0 0 10px;
}

#completed-icon {
  border: 0px;
  padding: 5px 11px;
  height: 20px;
  width: 20px;
  float: right;
  display: none;
}

#polltitle {
  float:left;
  margin-top:10px;
}

#poll-not-found {
  height: 100%;
}

#total {
  clear:both;
}

/* position the loading indicator under the Connect indicator and transition it in */
#loading {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(239, 239, 239, 0.4); /* match Connect loading indicator */
}

.fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
